[Unit]
Description=Backup horse racing data

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup-horse-racing.sh

[Install]
WantedBy=multi-user.target
