sshd_port: 10022
sshd_user: foo
sshd_public_key: ssh_rsa xxx
git_user_name: foo
git_user_email: foo@example.com
pgsql_port: 5432
pgsql_user: db_user
pgsql_pass: db_pass
mydns_user: aaa
mydns_pass: bbb
